task_56149/solution/simpleService/src/example/CurrencyConverterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="pairCurrency" type="xsd:string"/>
   <element name="convertReturn" type="xsd:double"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertResponse">

      <wsdl:part element="impl:convertReturn" name="convertReturn"/>

   </wsdl:message>

   <wsdl:message name="convertRequest">

      <wsdl:part element="impl:pairCurrency" name="pairCurrency"/>

   </wsdl:message>

   <wsdl:portType name="CurrencyConverterService">

      <wsdl:operation name="convert" parameterOrder="pairCurrency">

         <wsdl:input message="impl:convertRequest" name="convertRequest"/>

         <wsdl:output message="impl:convertResponse" name="convertResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurrencyConverterServiceSoapBinding" type="impl:CurrencyConverterService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurrencyConverterServiceService">

      <wsdl:port binding="impl:CurrencyConverterServiceSoapBinding" name="CurrencyConverterService">

         <wsdlsoap:address location="http://localhost:8080/services/example/CurrencyConverterService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
